.blog__item {
  border: 1px solid black;
  border-radius: 30px;
}

.blog__time {
  border-top: 1px solid #47c5f3;
}

.read__more {
  color: #47c5f3;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
}

.read__more:hover {
  color:black;
}

.blog__time span i {
  color: #47c5f3;
}

.blog__author {
  color: #47c5f3;
  font-weight: 600;
}

.blog__author i {
  font-weight: 500;
}

.blog__title {
  text-decoration: none;
  color: #47c5f3;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.3sk;
}

.blog__title:hover {
  color: black;
}

@media only screen and (max-width: 768px) {
  .blog__time {
    padding-top: 5px !important;
  }

  .blog__time span {
    font-size: 0.7rem;
  }

  .blog__info p {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 10px;
  }

  .blog__title {
    font-size: 2rem;
  }

  .read__more {
    font-size: 0.7rem;
  }
}
