.admin-dashboard {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .admin-dashboard__content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  